<div class="container">
  <div class="row">
    <div class="col-lg mix-name"><h2>{{mix.mix_name}}</h2></div>
  </div>
  <div class="row">
    <div class="col-lg">
      <mat-card class="mix-card mat-elevation-z8">
  <mat-card-content>
    <mat-grid-list cols="5" rowHeight="40px">
      <mat-grid-tile colspan="1" rowspan="2"><div class="text-left">Чаша</div></mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="2"><div class="text-right">{{mix.bowl.type.type}}</div></mat-grid-tile>
      <mat-grid-tile colspan="3" rowspan="10">
        <div class="chart">
          <google-chart
               [type]="type"
               [data]="percentageArray"
               [options]="options">
          </google-chart>
        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="2"><div class="text-left">Оценка</div></mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="2"><div class="text-right">{{mix.rating}}/5</div></mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="2"><div class="text-left">Крепость</div></mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="2"><div class="text-right">{{mix.strength}}/10</div></mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="4">
        <div class="description">
          <label>Описание</label>
          <div *ngIf="mix.description; else elseBlock2">
            {{mix.description}}
          </div>
          <ng-template #elseBlock2><div>Описание отсутствует</div></ng-template>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
      </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="goBack()">Назад</button>
    <span *ngIf="userService.isLoggedIn();else elseBlock3"><button mat-raised-button color="primary" routerLink="/mix/edit/{{mix.id}}">Изменить</button></span>
    <ng-template #elseBlock3><button mat-raised-button disabled routerLink="/mix/edit/{{mix.id}}">Изменить</button></ng-template>
  </mat-card-actions>
</mat-card>
    </div>
  </div>

</div>
