<div class="container">
  <mat-card class="flavour-card mat-elevation-z8">
  <mat-card-header class="mat-card-header">
    <mat-card-title>{{flavour.flavour_name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="40px">
      <mat-grid-tile colspan="1" rowspan="1"><div class="text-left">Производитель</div></mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1"><div class="text-right">{{flavour.manufacturer.name}}</div></mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1"><div class="text-left">В наличии</div></mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1"><div class="text-right">
        <div *ngIf="flavour.in_stock; else elseBlock">Да</div>
    <ng-template #elseBlock>Нет</ng-template></div></mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="4">
        <div class="text-left description">
          <label>Описание</label>
          <div *ngIf="flavour.description; else elseBlock2">
            {{flavour.description}}
          </div>
          <ng-template #elseBlock2><div>Описание отсутствует</div></ng-template>
        </div>
      </mat-grid-tile>
<!--      <mat-grid-tile colspan="2" rowspan="4">-->
<!--        -->
<!--      </mat-grid-tile>-->

    </mat-grid-list>
    <mat-accordion multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
          Миксы с {{flavour.flavour_name}}
        </mat-panel-title>
        </mat-expansion-panel-header>
        <ul *ngFor="let mix of mixes">
          <li><a class="mixes" routerLink="/mix/detail/{{mix.id}}">{{mix.mix_name}}</a></li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="goBack()">Назад</button>
    <span *ngIf="userService.isLoggedIn();else elseBlock3"><button mat-raised-button color="primary" routerLink="/flavour/edit/{{flavour.id}}">Изменить</button></span>
    <ng-template #elseBlock3><button mat-raised-button disabled routerLink="/flavour/edit/{{flavour.id}}">Изменить</button></ng-template>
  </mat-card-actions>

</mat-card>
</div>

