<div class="container">
  <div class="row">
    <div class="col-lg mix-name"><h2>{{mix.mix_name}}</h2></div>
  </div>
  <div class="row">
    <div class="col-lg">
      <mat-card class="mix-card mat-elevation-z8">
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="5:1">
      <mat-grid-tile><div class="text-left">Чаша</div></mat-grid-tile>
      <mat-grid-tile><div class="text-right">{{mix.bowl.name}}</div></mat-grid-tile>
      <mat-grid-tile><div class="text-left">Оценка</div></mat-grid-tile>
      <mat-grid-tile><div class="text-right">{{mix.rating}}/5</div></mat-grid-tile>
      <mat-grid-tile><div class="text-left">Крепость</div></mat-grid-tile>
      <mat-grid-tile><div class="text-right">{{mix.strength}}/10</div></mat-grid-tile>
    </mat-grid-list>
    <div class="chart">
      <google-chart
           [type]="type"
           [data]="percentageArray"
           [options]="options">
      </google-chart>
    </div>
      </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="goBack()">Назад</button>
    <button mat-raised-button color="primary" routerLink="/mix/edit/{{mix.id}}">Изменить</button>
  </mat-card-actions>
</mat-card>
    </div>
  </div>

</div>
