<div class="container">
  <div class="row">
    <div class="col-lg"><h2>Миксы</h2></div>
  </div>
  <div class="row">
    <div class="col-lg">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>
      <span *ngIf="userService.isLoggedIn();else elseBlock"><button mat-raised-button class="float-right custom" color="primary" (click)="openDialog()">Добавить</button></span>
      <ng-template #elseBlock><button mat-raised-button disabled class="float-right custom" (click)="openDialog()">Добавить</button></ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="mix-table mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort >
          <ng-container matColumnDef="mix_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Микс</th>
            <td mat-cell *matCellDef="let mix">
              <a routerLink="/mix/detail/{{mix.id}}">{{mix.mix_name}}</a>
            </td>
          </ng-container>

          <ng-container matColumnDef="rating">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Рейтинг</th>
            <td mat-cell *matCellDef="let mix">
              <ngb-rating [(rate)]="mix.rating" [readonly]="true" max="5"></ngb-rating>
            </td>
          </ng-container>

          <ng-container matColumnDef="buttons">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let mix">
              <div class="btn-group float-right">
                <button class="btn" routerLink="/mix/edit/{{mix.id}}"><mat-icon aria-hidden="false">edit</mat-icon></button>
                <button class="btn" (click)="deleteMix(mix)"><mat-icon aria-hidden="false">delete_forever</mat-icon></button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>



