.container {
  margin: 2em auto;
  text-align: center;
  min-width: 300px;
  min-height: 260px;
}

.add-full-width {
  width: 100%;
}

form {
  justify-content: center;
}

mat-slider {
  width: 200px;
}
