<div class="container">
  <div class="row">
    <div class="col-lg"><h2>Mixes</h2></div>
  </div>
  <div class="row">
    <div class="col-lg">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>
      <button mat-raised-button class="float-right custom" color="primary" (click)="openDialog()">Add new mix</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="mat-elevation-z8">
        <table mat-table matSort class="mix-table" [dataSource]="dataSource">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let mix">
              <a routerLink="/mix/detail/{{mix.id}}">{{mix.mix_name}}</a>
            </td>
          </ng-container>

          <ng-container matColumnDef="strength">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Strength</th>
            <td mat-cell *matCellDef="let mix">
              {{mix.strength}}/10
            </td>
          </ng-container>

          <ng-container matColumnDef="rating">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Rating</th>
            <td mat-cell *matCellDef="let mix">
              <ngb-rating [(rate)]="mix.rating" [readonly]="true" max="5"></ngb-rating>
            </td>
          </ng-container>

          <ng-container matColumnDef="compound">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Compound</th>
            <td mat-cell *matCellDef="let mix" >
              <mat-chip-list >
                <mat-chip title="{{compound.flavour.manufacturer.name}}: {{compound.flavour.flavour_name}}" *ngFor="let compound of mix.compound">{{compound.flavour.flavour_name}} - {{compound.percentage}}%</mat-chip>
              </mat-chip-list>
              </td>
          </ng-container>
          <ng-container matColumnDef="buttons">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let mix">
              <div class="btn-group float-right">
                <button class="btn" routerLink="/mix/detail/{{mix.id}}"><mat-icon aria-hidden="false">edit</mat-icon></button>
                <button class="btn" (click)="deleteMix(mix)"><mat-icon aria-hidden="false">delete_forever</mat-icon></button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
          <tr mat-row *matRowDef="let mix; columns: displayedColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>




