.custom{
  margin-bottom:10px;
}
table {
  width: 100%;
}

.btn {
  color: dimgrey;
}

.flavour-table {
  max-height: 700px;
  overflow: auto;
}

a {
  color: #3f51b5;
  text-decoration: none;
}

h2 {
  margin-top: 15px;
}

.add-card {
  width: 100px;
}
