<div class="container">
  <div class="row">
    <div class="col-lg"><h2>Ароматы</h2></div>
  </div>
  <div class="row">
    <div class="col-lg">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>
      <span *ngIf="userService.isLoggedIn();else elseBlock"><button mat-raised-button class="float-right custom" color="primary" (click)="openDialog()">Добавить</button></span>
      <ng-template #elseBlock><button mat-raised-button disabled class="float-right custom" (click)="openDialog()">Добавить</button></ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="flavour-table mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="flavour_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Аромат</th>
            <td mat-cell *matCellDef="let flavour">
              <a routerLink="/flavour/detail/{{flavour.id}}">{{flavour.flavour_name}}</a>
            </td>
          </ng-container>

          <ng-container matColumnDef="manufacturer.name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Производитель</th>
            <td mat-cell *matCellDef="let flavour">
              <a routerLink="/manufacturer/detail/{{flavour.manufacturer.id}}">{{flavour.manufacturer.name}}</a>
            </td>
          </ng-container>

          <ng-container matColumnDef="in_stock">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>В наличии</th>
            <td mat-cell *matCellDef="let flavour" class="buttons">
              <div *ngIf="flavour.in_stock; else elseBlock"><mat-icon aria-hidden="false">done</mat-icon></div>
              <ng-template #elseBlock><mat-icon aria-hidden="false">block</mat-icon></ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="buttons">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let flavour" class="buttons">
              <span *ngIf="userService.isLoggedIn();">
              <div class="btn-group float-right">
<!--                <button class="btn" routerLink="/flavour/edit/{{flavour.id}}"><mat-icon aria-hidden="false">edit</mat-icon></button>-->
                <button class="btn" (click)="deleteFlavour(flavour)"><mat-icon aria-hidden="false">delete_forever</mat-icon></button>
              </div>
              </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
          <tr mat-row *matRowDef="let flavour; columns: columnsToDisplay;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>
