<mat-toolbar class="mat-elevation-z4">
    <div class="col justify-content-start"><a routerLink="/home">{{title}}</a></div>
    <div class="nav col-8 justify-content-start content">
      <span><a routerLink="/manufacturers">Manufacturers</a></span>
      <span><a routerLink="/flavours">Flavours</a></span>
      <span><a routerLink="/mix">Mixes</a></span>
    </div>
    <div class="nav col justify-content-end">
      <span *ngIf="userService.isLoggedIn();else elseBlock"><button mat-raised-button color="primary" routerLink="/logout"><mat-icon aria-hidden="false">exit_to_app</mat-icon></button></span>
      <ng-template #elseBlock><span><button mat-raised-button color="primary" routerLink="/login"><mat-icon aria-hidden="false">login</mat-icon></button></span></ng-template>

    </div>
</mat-toolbar>

<router-outlet></router-outlet>

