<mat-toolbar class="mat-elevation-z4" color="primary">
    <div class="title col justify-content-start"><a routerLink="/home">{{title}}</a></div>
  <button mat-button [matMenuTriggerFor]="beforeMenu"><mat-icon>menu</mat-icon></button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item><a routerLink="/manufacturers">Производители</a></button>
      <button mat-menu-item><a routerLink="/flavours">Ароматы</a></button>
      <button mat-menu-item><a routerLink="/mix">Миксы</a></button>
      <mat-divider></mat-divider>
      <span *ngIf="userService.isLoggedIn();else elseBlock"><button mat-menu-item routerLink="/logout">Logout</button></span>
      <ng-template #elseBlock><span><button mat-menu-item routerLink="/login">Login</button></span></ng-template>
    </mat-menu>
</mat-toolbar>
