<div class="container">
  <div class="row">
    <h2 class="col-lg">{{manufacturer.name}}</h2>
  </div>
  <div class="row">
    <div class="col-lg">
      <mat-card class="add-card mat-elevation-z8">
        <mat-card-content>
          <form>
            <mat-form-field>
              <mat-label>Производитель:</mat-label>
              <input matInput placeholder="name" [(ngModel)]="manufacturer.name" [name]="manufacturer.name">
            </mat-form-field><br>
            <mat-form-field>
              <mat-label >
                <div *ngIf="manufacturer.type !== null; else elseBlock1">{{manufacturer.type.type}}</div>
                <ng-template #elseBlock1>Выберите тип..</ng-template>
              </mat-label>
              <mat-select [(ngModel)]="manufacturer.type" name="manufacturerType">
                <mat-option *ngFor="let type of manufacturerTypes" [value]="type">{{type.type}}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
<!--          <mat-expansion-panel (opened) ="panelOpenState = true"-->
<!--                           (closed)="panelOpenState = false">-->
<!--          <mat-expansion-panel-header>-->
<!--            <mat-panel-title><span>Ароматы</span></mat-panel-title>-->
<!--          </mat-expansion-panel-header>-->
<!--          <mat-list>-->
<!--            <div *ngIf="manufacturer.flavours.length > 0; else elseBlock">-->
<!--              <mat-list-item *ngFor="let flavour of manufacturer.flavours">-->
<!--                <a routerLink="/flavours/detail/{{flavour.id}}">{{flavour.flavour_name}}</a>-->
<!--              </mat-list-item>-->
<!--            </div>-->
<!--            <ng-template #elseBlock>Нет ароматов..</ng-template>-->
<!--          </mat-list>-->
<!--      </mat-expansion-panel>-->
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="goBack()">Back</button>
          <button mat-raised-button color="primary" (click)="save()">Сохранить</button>
    </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
