
<div class="container">
  <h2>Новый производитель</h2>
  <form>
        <mat-form-field>
          <mat-label>Введите имя</mat-label>
          <input matInput placeholder="Enter name" #manufacturerName>
        </mat-form-field><br>
        <mat-form-field>
          <mat-label>Табак/Чай</mat-label>
          <mat-select [(ngModel)]="selectedType" name="manufacturerType">
            <mat-option *ngFor="let type of manufacturerTypes" [value]="type">{{type.type}}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
  <button mat-raised-button color="primary" (click)="addManufacturer(manufacturerName.value, selectedType); manufacturerName.value=''" [mat-dialog-close]="manufacturerName.value">Сохранить</button>
</div>

