<div class="container">
  <div class="row">
    <h2 class="col-lg">{{manufacturer.name}} details</h2>
  </div>
  <div class="row">
    <div class="col-lg">
      <mat-card class="add-card mat-elevation-z8">
        <mat-card-content>
          <form>
            <mat-form-field>
              <mat-label>Manufacturer name:</mat-label>
              <input matInput placeholder="name" [(ngModel)]="manufacturer.name" [name]="manufacturer.name">
            </mat-form-field>
          </form>
          <mat-expansion-panel (opened) ="panelOpenState = true"
                           (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title><span>Flavours</span></mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <div *ngIf="manufacturer.flavours.length > 0; else elseBlock">
              <mat-list-item *ngFor="let flavour of manufacturer.flavours">
                <a routerLink="/flavours/detail/{{flavour.id}}">{{flavour.flavour_name}}</a>
              </mat-list-item>
            </div>
            <ng-template #elseBlock>No flavours..</ng-template>
          </mat-list>
      </mat-expansion-panel>
        </mat-card-content>
        <mat-card-actions>
      <button mat-raised-button color="primary" (click)="save()">Save</button>
      <button mat-raised-button (click)="goBack()">Back</button>
    </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
